@import "Header.scss";

.footer {
    display: flex;
    flex-direction: column;
    background-color: $header-color;
    min-height: 200px;
    color: $font-color;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-copyright {
    font-size: .6rem;
    color: #ff82f0;
}