@import "Header.scss";

.imageandtext-container {
    width: 100%;
    height: 40vh;
    // padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    background-color: rgba(12, 12, 12, 0.95);
}

.btnss {
    display: flex;
    gap: 1rem;
}

.image_container {
    width: 50%;
}

.image-background-cont {
    background-color: rgb(217, 255, 0)
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;

    .textmain-text {
        width: 60%;
    }
}

.textsub-heading {
    color: white;
}

.textheading {
    color: white;
}


//Mobile
@media only screen and (max-width: 700px) {

.imageandtext-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
    background-color: rgba(12, 12, 12, 0.95);
}

.imageandtext-container {
width: 100%;
height: 40vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 5rem 0;
gap: 1rem;
background-color: rgba(12, 12, 12, 0.95);
}

.image_container {
    width: 80%;
}

.image-background-cont {
    background-color: rgb(60, 255, 255)
}

.textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;
    height: 100%;

    .textmain-text {
        width: 100%;
    }
}

.textsub-heading {
    color: white;
    font-size: .8rem;
}

.textheading {
    color: white;
}
}
